<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Online Library</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Luxury Furnish Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/books/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="/static/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet'
          type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!--//webfont-->
    <script src="/static/books/js/jquery.easydropdown.js"></script>

    <!-- Add fancyBox main JS and CSS files -->
    <script src="/static/books/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <link href="/static/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>
</head>
<body>
<div class="header">
    <div class="container">
        <div class="header-top">
            <div class="logo">
                <a href="/book/"><h6>Online Library</h6>

                    <h2>System</h2></a>
            </div>

            <div class="clearfix"></div>
        </div>
        <div class="banner_wrap">
            <div class="bannertop_box">

                <div class="cart_bg">
                    <ul class="cart">

                        <h4>Find all you need here</h4>

                        <div class="clearfix"></div>
                    </ul>
                </div>
                <ul class="quick_access">
                    <div class="clearfix"></div>
                </ul>
                <div class="search">
                    <input type="text" value="Search" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Search';}">
                    <input type="submit" value="">
                </div>
                <div class="welcome_box">
                    <h3>Welcome to the Library</h3>

                    <p>this is a online system to manage the book</p>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="main">
    <div class="content_box">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="dreamcrub">
                        <ul class="breadcrumbs">
                            <li class="home">
                                <a href="/book/" title="Go to Home Page">Home</a>&nbsp;
                                <span>&gt;</span>&nbsp;
                            </li>
                            <li class="women">
                                Add New Book
                            </li>
                        </ul>
                        <ul class="previous">
                            <li></li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="account_grid">
                        <div class="col-md-6 login-left">

                        </div>
                        <div class="col-md-6 login-right">
                            <h3>Add Your New Author Here</h3>

                            <p>Please Follow The Specific Formats</p>

                            <form action="saveNewAuthor" method="post">
                                <div>
                                    <span>Name<label>*</label></span>
                                    <input class="vTextField" value={{ new_author.name }} id="id_ISBN" maxlength="30"
                                           name="name" type="text">
                                </div>
                                <div>
                                    <span>AuthorID<label>*</label></span>
                                    <input class="vTextField" id="id_Title"
                                           value={{ new_author.authorID }} maxlength="40" name="authorID" type="text">
                                </div>
                                <div>
                                    <span>Age<label>*</label></span>
                                    <input class="vTextField" id="id_Author" value={{ new_author.age }} maxlength="40"
                                           name="age" type="text">
                                </div>
                                <div>
                                    <span>Country<label>*</label></span>
                                    <input class="vTextField" id="id_publisher"
                                           value={{ new_author.country }} maxlength="30" name="country" type="text">
                                </div>
                                <a class="forgot" href="">ready to add?</a>
                                <input type="submit" value=ADD">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="container">
        <div class="footer-grid">
            <h3></h3>
            <ul class="list1">
                <li><a href="index.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
            </ul>
        </div>
        <div class="footer-grid">
            <h3></h3>
            <ul class="list1">
                <li><a href="index.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
            </ul>
        </div>
        <div class="footer-grid">
            <h3></h3>
            <ul class="list1">
                <li><a href="index.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
            </ul>
        </div>
        <div class="footer-grid">
            <h3></h3>
            <ul class="list1">
                <li><a href="index.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
                <li><a href="/static/about.html"></a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="footer_bottom">
    <div class="container">
        <div class="copy">
            <p>Copyright &copy; 2015 HIT. All Rights Reserved . Design by Leo </p>
        </div>
    </div>
</div>

</body>
</html>		